<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atozkids">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.atozkids.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".services.NewFileDownloaderService" />

        <activity
            android:name=".ui.activities.RhymesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.QuizActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.LearningActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.CategorySelectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.WebViewActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.DashboardActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>